.sobre-mi{
    padding: 30px 2% 0 2%;
}
.presentacion{
    font-size: 2.2em;
    color: var(--color-presentacion);
    text-align: center;
    line-height: 3.3rem;
    text-shadow: #f51e42 -1px 0, cyan 2px 0;
}

.texto{
    font-size: 1em;
    line-height: 1.3rem;
}
.texto-2-desktop{
    display: none;
}
.texto-2-movil{
    margin-top: 40px;
    text-align: justify;
}
.foto{
    border: solid var(--border-foto);
    display: flex;
    width: 100%;
    max-width: 300px;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 20px -5px var(--shadow-foto);
    user-select: none;
}

@media screen and (min-width: 768px){
    .presentacion{
        font-size: 2.7em;
        text-align: left;
    }
    .info{
        display: flex;
    }
    .texto-2-movil{
        display: none;
    }
    .texto-2-desktop{
        display: block;
    }
    .texto{
        margin-right: 60px;
    }
    .foto{
        margin-right: 20px;
    }
    .foto:hover{
        box-shadow: 0 0 30px -5px #fff;
        cursor: pointer;
    }
}

